.given, .when, .then {
    position: relative;
}

.given:after {
    content: "Given";
    position: absolute;
    top: -15px;
    left: -10px;
    font-size: small;
    color: rgba(0, 0, 255, 0.5);
}

.when:after {
    content: "When";
    position: absolute;
    top: -15px;
    left: -10px;
    font-size: small;
    color: rgba(131, 95, 5, 0.5);
}

.then:after {
    content: "Then";
    position: absolute;
    top: -15px;
    left: -10px;
    font-size: small;
    color: rgba(8, 68, 8, 0.5);
}
